body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  padding: 30px 45px;
  background-color: #666;
  border-radius: 20px;
  color: white;
  margin: 0 30px;
}

.title {
  padding-left: 30px;
}

.blog-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  color: white;
  text-decoration: none;
}
